.container {
  overflow-y: auto;
}

.cartDisplay {
  background-color: white;
  width: 100%;
  left: 30%;
  height: 100%;
  overflow: auto;
  color: black;
  /* min-height: 60%; */
}
.cartImage {
  height: 50%;
  width: 50%;
  left: 0;
  margin-left: -100px;
}
.cartItems {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}
.individualItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 20px;
}
.individualItems_hover {
  margin-top: 60px;
  font-size: 15;
}
.individualItems_hover:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}
.itemHeader {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  font-size: 30px;
}
.footer {
  display: grid;
  border-top: 2px solid saddlebrown;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

.order_button {
  height: 50px;
  background-color: orange;
  color: red;
  font-size: large;
  padding: 1rem;
  cursor: pointer;
  border-radius: 12px;
  width: 40%;
  margin-left: 25%;
}
.quantity_and_price {
  display: flex;
  margin-top: 60px;
  margin-bottom: 10px;
  background-color: grey;
  padding: 0.25rem;
  font: 40px;
  margin-left: 10px;
}
